form {
    position: absolute;
    top: 70px;
    right: 63px;
}
#searchButton{
    height: 40px;
    width: fit-content;
    font-size: 16px;
}
#searchBox{
    font-size: 16px;
    height: 40px;
    width: 363px;
    padding: 5px;
}
